<header>
  <h1 class="site-title">Photos of People</h1>
</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="/">Home</a></li>
    <li class="navitem"><a href="/people">People</a></li>
    <li class="navitem right"><a href="#">Login</a></li>
  </ul>
</nav>
