<main class="home-page">
  <div class="title-container">
    <h2>This is the premier site for photos of people.</h2>
    <div class="icon">
      <i class="fa fa-camera-retro"></i>
    </div>
    <div class="icon">
      <i class="fa fa-group"></i>
    </div>
  </div>
</main>
